.wrapper {
  position: fixed;
  background: rgba(4, 4, 4, 0.5);
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  animation: fadeIn ease-in 0.2s;
}

.inner {
  margin: auto;
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  border-radius: 24px;
  width: 488px;
  animation: slide-fwd-center ease-in 0.2s;
}

.modal-header {
  display: flex;
  padding: 20px 35px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #1a1a1a;
}

.title {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 0;
}

.close-btn {
  font-size: 3rem;
  opacity: 0.7;
  cursor: pointer;
}

.modal-content {
  padding: 30px 35px;
}

.modal-content ul {
  background: #171717;
  border: 1px solid #303030;
  border-radius: 12px;
}

.modal-item {
  padding: 19px 25px;
  border-bottom: 1px solid #303030;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    border: none;
  }
}

.item-info {
  display: flex;
  align-items: center;
}

.item-name {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.item-desc {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #77838f;
  margin: 0 12px;
}

.copy-btn {
  margin-left: 4px;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.btn-item {
  background: #000000;
  border-radius: 12px;
  border: 2px solid #33ace0;
  padding: 9px 18px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  cursor: pointer;
}

@keyframes slide-fwd-center {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
