.wrapper {
  background: #0e0e0e;
}

.header {
  background: #0e0e0e;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  border-bottom: 1px solid #313131;
}

.logo-group {
  display: flex;
  align-items: center;
}

.logo-name {
  margin-left: 8px;
}

.logo-sponsor {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 0;
}

.logo-title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #77838f;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-name {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #77838f;
  margin-left: 7px;
}

.content {
  min-height: 100vh;
  padding: 50px 0 15px;
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto 0;
}

.tabs {
  background-color: #171717;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  padding: 9px 18px;
  margin-bottom: 20px;
}

.tab-btn {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #77838f;
  background: transparent;
  outline: none;
  border: none;
  padding: 12px 40px;
}

.tab-btn.active {
  background: linear-gradient(180deg, #2c2c2c 0%, #272727 100%);
  border-radius: 12px;
  color: #fff;
}

.item-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 25px;
  border: 1px solid;
  border-radius: 12px;
  width: 205px;
  cursor: pointer;
}

.item-group:hover {
  opacity: 0.9;
}

.item-group span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.group {
  background-color: #171717;
  border: 2px solid #1c1c1c;
  border-radius: 24px;
  padding: 33px 31px;
  width: 500px;
  display: none;
}

.group.active {
  display: block;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.seperate {
  position: relative;
  margin: 30px auto;
  width: 100%;
  height: 1px;
  background-color: #474747;
}

.seperate-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  left: 43%;
  top: -10px;
  padding: 0 20px;
  background-color: #171717;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 29px;
}

.form-label {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.form-input {
  margin-top: 12px;
  outline: none;
  border: none;
  background: #292a2d;
  border-radius: 12px;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #fff;
}

.form-container {
  position: relative;
}

.icon-eye {
  cursor: pointer;
  position: absolute;
  font-size: 2rem;
  right: 30px;
  bottom: 14.5px;
}

.icon-eye.active {
  opacity: 0.4;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4rem;
}

.forgot-pass {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4rem;
  cursor: pointer;
}

.form-btn {
  margin-left: auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 18px 50px;
  background: #000000;
  border-radius: 12px;
  color: #fff;
  border: 2px solid #33ace0;
  cursor: pointer;
  width: 160px;
}
