.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(4, 4, 4, 0.5);
  backdrop-filter: blur(10px);
  z-index: 3;
  animation: fadeIn ease-in 0.3s;
}

.container {
  position: absolute;
  width: 360px;
  height: 610px;
  right: 90px;
  top: 10px;
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  border-radius: 32px;
  padding: 37px 37px 0;
  animation: scale-in-right ease-in 0.1s;
}

.close-btn {
  position: absolute;
  right: 16px;
  top: 14px;
  font-size: 4rem;
  opacity: 0.6;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.info img {
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
}

.nickname {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  margin: 0;
}

.email {
  margin-top: 11px;
  color: #77838f;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
}

.btn-setting {
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.2rem;
  background: #0e0e0e;
  border: 2px solid #686868;
  border-radius: 20px;
  padding: 16px 60px;
  margin-top: 25px;
}

.list-btn {
  margin-top: 24px;
}

.item-btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-bottom: 18px;
  margin-bottom: 22px;
  border-bottom: 1px solid #2f2f2f;
  transition: 0.2s;
}

.item-btn:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.item-btn:hover {
  color: #ff5c5c;
}

@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
