.wrapper {
  padding: 25px 45px;
}

.header {
  padding: 10px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  border-radius: 12px;
  margin-bottom: 33px;
}

.header-item {
  display: flex;
  align-items: center;
  & img {
    width: 30px;
    margin: 0 4px 0 8px;
  }
}

.item-id {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
}

.item-apy {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 2.1rem;
}

//=====content=======
.content-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info {
  width: 1002px;
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  border-radius: 2.4rem;
  margin-right: 2.9rem;
  margin-bottom: 20px;
}

.header-info {
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.portfolio {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #77838f;
}

.current-count {
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 3.4rem;
  margin: 8px 0;
  letter-spacing: 0.428571px;
}

.bonus {
  display: flex;
  align-items: center;
}

.bonus-count {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #009e23;
  margin-right: 5px;
  letter-spacing: 0.428571px;
}

.bonus-desc {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #77838f;
}

.header-time {
  width: 30%;
}

.time-list {
  display: flex;
  justify-content: space-between;
}

.time-item {
  cursor: pointer;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.428571px;
  color: #77838f;
}

.time-item.active {
  color: #fff;
}

.footer {
  border-top: 1px solid #1c1c1c;
  padding: 8px 40px 4px;
}

.calendar {
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.day {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.428571px;
  color: #77838f;
}

.control {
  width: 352px;
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  border-radius: 2.4rem;
}

.header-control {
  padding: 18px 30px;
  border-bottom: 1px solid #1a1a1a;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
}

.dashboard {
  padding: 20px 22px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  }
  &-info {
    display: flex;
    align-items: center;
  }
}

.bank {
  margin-left: 6px;
}

.bank h4 {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin: 0;
}

.bank span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #77838f;
}

.dashboard-btn {
  background: linear-gradient(180deg, #292a2d 0%, #1c1c1c 100%);
  border-radius: 9px;
  outline: none;
  border: none;
  color: #fff;
  padding: 9px 12px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 12px;
  background: #292a2d;
  border-radius: 16px;
  margin-bottom: 5px;
  position: relative;
}

.value-num {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #a3a3a3;
  flex: 1;
}

.value-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.value-control span {
  background: #212121;
  border-radius: 8px;
  padding: 10px 9px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  flex: 1;
  &:nth-child(2) {
    margin: 0 8px;
  }
}

.change-token {
  background: linear-gradient(180deg, #0e0e0e 0%, #1c1c1c 100%);
  border-radius: 12.5px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.token-name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin: 0 4px;
}

.token-icon {
  font-size: 2rem;
}

.btn-open {
  cursor: pointer;
  position: absolute;
  font-size: 3rem;
  left: 45%;
  bottom: -20px;
  z-index: 1;
  color: #818181;
}

.btn-fund {
  cursor: pointer;
  border: 2px solid #33ace0;
  margin-top: 20px;
  background: #000000;
  border-radius: 12px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  padding: 15px 0;
}

.btn-withdraw {
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
  margin-top: 2rem;
  background: rgba(51, 172, 224, 0.2);
  border-radius: 12px;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(51, 172, 224, 0.5);
  border: none;
  margin-bottom: 12px;
}

.activity-item {
  padding: 12px 30px;
  border-bottom: 1px solid #1a1a1a;
  &:last-child {
    border: none;
    margin-bottom: 22px;
  }
}

.activity-title {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #77838f;
}

.activity-notifications {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin: 8px 0;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  visibility: visible;
  text-overflow: ellipsis;
  overflow: hidden;
}

.activity-time {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #77838f;
}

.table {
  background: #0e0e0e;
  border: 2px solid #1c1c1c;
  width: 1002px;
  border-radius: 2.4rem;
  margin-bottom: 20px;
  &-header {
    padding: 21px 40px;
    border-bottom: 1px solid #1a1a1a;
    display: flex;
    align-items: center;
  }

  &-title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin: 0;
  }

  &-location {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin: 0 12px;
  }

  &-desc {
    margin-left: 8px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #77838f;
  }

  &-heading {
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a1a;
  }

  &-heading-item {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #77838f;
  }

  &-content {
    padding: 22px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1a1a1a;
    &:last-child {
      border: none;
    }
  }
}

.table-token-name {
  display: flex;
  align-items: center;
  width: 33.333%;
  & img {
    width: 30px;
    margin-right: 18px;
  }

  & h3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 0;
    padding-bottom: 4px;
  }

  & span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #77838f;
  }
}

.table-token-balance {
  text-align: left;
  padding-left: 35px;
  width: 33.333%;
  & h3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 0;
    padding-bottom: 4px;
  }

  & span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #77838f;
  }
}

.table-token-interest {
  transform: translateX(36%);
  width: 33.3333%;
  & h3 {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.1rem;
    margin: 0;
    padding-bottom: 4px;
  }
  & span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #77838f;
  }
}

.table-token-interest-child {
  & span {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #169b00;
  }

  & span:last-child {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #77838f;
    margin-left: 8px;
  }
}
.table-token-percent {
  transform: translateX(70%);
  width: 33.3333%;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.6rem;
}
